/*Number of Col*/
:root {
  --cols: 6; /* Default value for PCs */
}

@media only screen and (max-width: 1245px) {
  :root { --cols: 4;  }
}

@media only screen and (max-width: 830px) {
  :root { --cols: 2;  }
}

@media only screen and (max-width: 415px) {
  :root { --cols: 1;  }
}

/*CSS*/
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
}

.App{
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  width: fit-content;
  margin: auto;

  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.LinkContainer{
  text-align: center;
  width: fit-content;
  height: fit-content;

  /*Grid layout*/
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
}

.Link{
  /*for debug only debug
  background-color: aqua;*/

  padding: 12px;
  overflow: hidden;
  display: block;
  height: fit-content;
  width: fit-content;
}

.Link img {
  width: 180px;
  height: 120px;
  margin: 0;
  padding: 0;

  object-fit: cover;

  border-width: 2px;
  border-radius: 10px;

  transition: 0.3s ease;
  transform-style: preserve-3d;
}

.Link:hover img {
  transform: rotate3d(1, 1, 1, -5deg) scale(1.05);
}

.Link p {
  font-size: 16px;
  margin: 0;
  padding: 5px 0 5px 0;

  transition: 0.0s ease;
}

.Link:hover p {
  font-weight: bold;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from the parent */
}

/* Search bar */

.search-form {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 819px;
}

.search-logo {
  width: 48px;

  filter: grayscale(75%);
  transition: filter 1s ease;
}

.search-form:focus-within .search-logo {
  filter: grayscale(0%);
  transition: filter 1s ease;
}

.search-input {
  color: white;
  flex-grow: 1;
  padding: 10px 16px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #5e5e5e;
  box-sizing: border-box;
  outline: none;
  height: 48px;
  background-color: rgba(25, 25, 25, 0);
  transition: border-bottom-color 1s ease;
}

.search-input:focus {
  border-bottom: 2px solid #cccccc;
  transition: border-bottom-color 1s ease;
}
